<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>All Skill Entries (Admin View)</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Can Teach</th>
            <th>Wants to Learn</th>
            <th>Action</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td><a href="{{ url_for('delete_entry', id=student[0]) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>