<!DOCTYPE html>
<html>
<head>
    <title>Register Your Skill</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Post Your Skill</h1>
    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>
        <label>Skill You Can Teach:</label><br>
        <input type="text" name="skill" required><br><br>
        <label>Skill You Want to Learn:</label><br>
        <input type="text" name="want" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>