<!DOCTYPE html>
<html>
<head>
    <title>Available Skills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>All Student Skill Posts</h1>
    <form method="POST" action="/search">
        <input type="text" name="keyword" placeholder="Search skill or interest..." required>
        <input type="submit" value="Search">
    </form>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Can Teach</th>
            <th>Wants to Learn</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>